* {
    box-sizing: border-box;
    font-family: "poppins";
}

.main-div {
    display:flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    background-color: #ffffff ;
    /* font-family: "poppins"; */
}

.flexContainer {
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
}

.img{
    width: 500px;
    height: 500px;
    margin-top: 15px;
    margin-left: 30px;
}

.formContainer {
    margin-top: 90px;
    width: 750px;
    height: 320px;
    padding-top: 20px;
    /* box-shadow: rgba(30, 2, 244, 0.788) 0px 5px 15px; */
}